.top {
  display: flex;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title{
  flex: 1;
  font-size: 40px;
}

.desc{
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 1%;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  object-fit: cover;
  border-radius: 60%;
}

.content {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 300;
  color: #999;
  text-align: justify;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.prompt{
  padding: 20px;
  background-color: transparent;
  border: 2px solid #bbb;
  color:#bbb;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  flex-grow: 10;
}

.generate {
  padding: 10px;
  border: 2px solid #070707;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #151414;
  flex-grow: 1;
}

.image {
  margin-top: 1%;
  object-fit: cover;
}

.loading{
  margin-top: 1%;
  object-fit: none;
}