.top {
  display: flex;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title{
  flex: 1;
  font-size: 20px;
}

.desc{
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 1%;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  object-fit: cover;
  border-radius: 60%;
}

.content {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
}

.item{
  font-size: 18px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 2px;
}

.promptForm {
  display: flex;
  align-items: stretch;
  margin-top: 5px;
  width: 1024px;
  position: relative;
}

.prompt{
  padding: 20px;
  background-color: transparent;
  border: 2px solid #53c28b;
  color:#e4eae6;
  border-radius: 5px;
  font-size: 18px;
  flex: 14;
  width: 80%;
}

.generate {
  border: 2px solid #53c28b;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #fbf7f7;
  background-color: #53c28b;
  flex: 1;
}

.image {
  margin-top: 1%;
  object-fit: cover;
}

.loading{
  margin-top: 1%;
  object-fit: none;
}

.chooseform {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.choosemedia {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.chooseinput{
  border: 2px solid #53c28b;
  border-radius: 5px;
  color: #fbf7f7;
  background-color: #2f121a;
  flex: 6;
}

.chooseupload {
  border: 2px solid #53c28b;
  border-radius: 5px;
  font-size: 12px;
  color: #fbf7f7;
  background-color: #53c28b;
  flex: 1;
}

.uploadblock{
  border: 2px solid #53c28b;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}