.top {
  display: flex;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title{
  flex: 1;
  font-size: 20px;
}

.desc{
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 1%;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  object-fit: cover;
  border-radius: 60%;
}

.content {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #fbf7f7;
  border-radius: 5px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e8e2e0;
  border-radius: 5px;
}

.item{
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 95%;
}

.promptForm {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 5px;
  width: 100%;
  justify-content: center;
}

.prompt{
  padding: 20px;
  background-color: transparent;
  border: 1px solid #e7e7e7;
  color:#e4eae6;
  border-radius: 5px;
  font-size: 18px;
  width: 100%;
}

.generate {
  margin-top: 5px;
  border: 1px solid #fbf7f7;
  border-radius: 5px;
  font-size: 16px;
  font-weight: normal;
  color: #fbf7f7;
  background-color: #cbdbd328;
  width: 100%;
}

.image {
  margin-top: 1%;
  object-fit: cover;
}

.loading{
  margin-top: 1%;
  object-fit: none;
}

.chooseform {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.choosemedia {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.chooseinput{
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  color: #fbf7f7;
  background-color: #2f121a;
  flex: 6;
}

.chooseupload {
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  font-size: 12px;
  color: #fbf7f7;
  background-color: #e7e7e7;
  flex: 1;
}

.uploadblock{
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}