.container {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
  }
  
  .image{
    object-fit: cover;
    border: 5px solid #6be3a9;
    border-radius: 5px;
  }
  
  .content {
  }
  
  .title{
    margin-bottom: 10px;
  }
  
  .desc{
    font-size: 18px;
    color: #999;
  }